.login-component {
	max-height: 100vw;
	margin-top: 10px;
	max-width: 100%;
	overflow: hidden;
}
.content {
	position: relative;
	padding: 6px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 140px;
	background: transparent;
}
.text {
	position: absolute;
	top: 10px;
	right: 300px;
	h1 {
		font-size: 40px;
		font-weight: 600;
	}
}
.power-text {
	position: absolute;
	bottom: 10px;
	right: 4px;

	h1 {
		font-size: 12px;
		font-weight: 600;
		svg {
			width: 16px;
			height: 16px;
			margin-left: 8px;
		}
	}
}

.left {
	border-radius: 24px;
	position: relative;
	display: inline;
	background-position-x: 50px;
	transition: 0.2s ease;
	max-height: calc(100vh - 30px);
	width: 800px;
	margin-left: 0px;
	overflow: hidden;
	animation: image 210s linear infinite;
}
@keyframes image {
	0% {
		background-position-x: 10px;
	}
	50% {
		background-position-x: 1000px;
	}
	100% {
		background-position-x: 10px;
	}
}
.right-part {
	padding: 0;
}
.right {
	min-width: 400px;
	padding-left: 50px;
	margin-right: 100px;
}
.grid {
	border-radius: 24px;
	transform: translate(-8%, -9%);
}
.grid-content {
	border-radius: 24px;
	transform: translate(-8%, -9%);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	background: transparent;
	padding: 15px;
	gap: 16px;
}
.box {
	width: 170px;
	height: 170px;
	border-radius: 12px;
	backdrop-filter: blur(4px);
	transition: all 0.3s ease;
}
.box:hover {
	box-shadow: 0px 0px 20px -1px rgba(161, 224, 255, 0.59);
}
.b-content {
	background: rgb(0, 0, 0, 0.1);
	backdrop-filter: blur(1px);
}
.inner-box {
	transition: all 1s ease;
	text-align: center;
	&:hover {
		h3 {
			color: #17c1ff;
			transition: all 1s ease;
		}
		svg {
			fill: #17c1ff;
			transition: all 1s ease;
		}
	}
	h3 {
		color: rgb(255, 255, 255);
		transition: all 1s ease;
	}
}
.login-component .input input:empty ~ label {
	all: unset;
	position: absolute;
	font-size: 16px;
	padding: 0 4px;
	background: #101010;
	left: 18px;
	top: 17px;
	transition: all 0.4s ease;
	will-change: font, left, top;
	color: #767676;
}

.login-component .input input:focus ~ label,
.login-component .input input:valid ~ label {
	left: 18px;
	top: -1px;
	font-size: 12px;
	color: white;
}

.eye {
	position: relative;
	right: 35px;
	top: 4px;
}
h1 {
	padding: 8px;
	font-weight: 500;
}

.input {
	position: relative;
	margin: 18px 0;
	padding: 8px;
	input {
		font-size: 15px;
		outline: none;
		min-width: 300px;
		padding: 10px;
		border-radius: 8px;
		border: 1px solid rgb(139, 139, 139);
	}
}
input[type="submit"] {
	min-width: 322px;
}
.btns {
	all: unset;
	display: inline-block;
	position: relative;
	background: #101010;
	padding: 10px 30px;
	border-radius: 20px;
	color: #999;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.08em;
	transition: 0.3s;
	font-size: 1.5em;
	overflow: hidden;
	cursor: pointer;
	width: 260px;
	text-align: center;
}
.btncpy {
	all: unset;
	display: inline-block;
	position: relative;
	background: #101010;
	padding: 8px 30px;
	border-radius: 20px;
	color: #999;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.08em;
	transition: 0.3s;
	font-size: 1.5em;
	overflow: hidden;
	cursor: pointer;
	width: 260px;
	text-align: center;
}
.btns:hover {
	color: var(--clr);
	text-shadow: 0 0 15px var(--clr), 0 0 40px var(--clr);
}

.btns > span {
	all: unset;
	position: relative;
	z-index: 1;
}

.btns::before {
	content: "";
	position: absolute;
	top: var(--y);
	left: var(--x);
	width: 200px;
	transform: translate(-50%, -50%);
	height: 150px;
	background: radial-gradient(var(--clr), transparent, transparent);
	transition: 0.9s, top 0s, left 0s;
	opacity: 0;
}

.btns:hover::before {
	opacity: 1;
}

.btns::after {
	content: "";
	position: absolute;
	inset: 2px;
	background: rgb(26, 26, 26);
	border-radius: 20px;
}

/* /////////////////////////////////////////////// */

.lines > span {
	opacity: 0;
	border-radius: 24px;
	transition: all 0.8s ease;
}

.lines {
	position: relative;
	overflow: hidden;
}
.lines:hover {
	span {
		opacity: 1;
		transition: all 0.8s ease;
	}
}
.lines > span:nth-child(1) {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 1px;
	background: linear-gradient(90deg, #0c002b 1%, #17c1ff);
	animation: anim1 9s linear infinite;
}

.lines > span:nth-child(2) {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 0.01em;
	height: 100%;
	background: linear-gradient(180deg, #0c002b 1%, #17c1ff);
	animation: anim2 9s linear infinite;
	animation-delay: 13.5s;
}
.lines > span:nth-child(3) {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 0.05em;
	background: linear-gradient(90deg, #0c002b 1%, #17c1ff);
	animation: anim1 9s linear infinite;
	animation-delay: 13.5s;
}

.lines > span:nth-child(4) {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1px;
	height: 100%;
	background: linear-gradient(180deg, #0c002b 1%, #17c1ff);
	animation: anim2 9s linear infinite;
}
@keyframes anim2 {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(100%);
	}
}
@keyframes anim1 {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(100%);
	}
}
.to-login {
	float: right;
	font-size: 13px;
	margin: 8px;
	color: #999;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}

@media only screen and (max-width: 700px) {
	.content {
		flex-direction: column-reverse;
	}
	.left {
		display: none;
	}
	.text {
		right: 197px;
		top: 10px;
	}
	.right {
		float: left;
		position: relative;
		margin-left: 130px;
		margin-top: 150px;
	}
}
