# === Python/Django ===
__pycache__/
*.py[cod]

*.log
*.pot
*.pyc
*.DS_Store

/env/
/venv/
/.env
*.env
./env

/core/db.sqlite3
/frontend/node_modules/
/frontend/build/
/frontend/.env
./node_modules/



.vscode/
.idea/
*.sublime-workspace


*.swp
*.bak
*~
