
.homepage-component{
	height: 100vh;
}


@keyframes backgroundCycle {
	0% {
		background-color: #000000;
	}
	25% {
		background-color: #4a4a4a;
	}
	50% {
		background-color: #1c1c1c;
	}
	75% {
		background-color: #4f4f4f;
	}
	100% {
		background-color: #1f2d2e;
	}
}

.animated-bg {
	width: 100vw;
	height: 100vh;
	animation: backgroundCycle 10s infinite linear;
}


.home-content{
	padding: 0;
	background-color: #141414;
}

.home-title{
	padding: 0;
	
}
.home-list-title{
	padding: 0;
	
}

.home-user-title{
	padding: 0;
}


.home-options{
	padding: 0;
}

.home-list-user{
	z-index: 90;
	padding: 0;
	position: relative;
}

.home-list-user::-webkit-scrollbar {
	border-radius: 24px;
	width: 6px;
	background: transparent
}
.home-list-user::-webkit-scrollbar-thumb {
	background-color: rgb(54, 54, 54);
	border-radius: 24px;
}


.in-content{
	text-align: center;
	padding: auto;
	padding-top: 20px;
}
.home-second-box{
	display: flex;
	justify-content: space-between;
	padding: 10px;
	align-items: center;
}
.home-messgage-title{
	padding: 8px;
	padding-top: 16px;
	font-size: 28px;
	
}
.home-add-new{
	margin-top: 30px;
	margin-right: 30px;
}

.selected-chat-in{
	padding: 8px;
}
.home-message-box{
	max-height: 651px;
	position: relative;
	
}



.sections {
	display: grid;
	grid-template-columns: 200px 450px 1fr;
	grid-template-rows: 90px calc(100vh - 91px);
	grid-column-gap: 1px;
	grid-row-gap: 1px;
	width: 100%;
	height: 100%;
	transition: .3s ease all; 
	animation: backgroundCycle 10s infinite;
}
@media screen and (max-width: 868px) {
	.sections {
		grid-template-columns: 1fr 1fr;
	}
	
	.home-title,
	.home-options {
		display: none !important;
	}
}
.sections.green {
	transition: .3s ease all;
	background-color: rgb(2, 243, 175);
	animation: greenFlowNotification 10s infinite;
}
.sections.animate{
	transition: .3s ease all;
	background-color: aqua;
	animation:sectionsNotification 10s infinite
}

@keyframes greenFlowNotification {
	0% {
		background-color: #7cd77c;
	}
	20% {
		background-color: #539d3a;
	}
	40% {
		background-color: #13e913;
	}
	60% {
		background-color: #22b722;
	}
	80% {
		background-color: #006400;
	}
	100% {
		background-color: #013220;
	}
}
 @keyframes sectionsNotification {
 	0% {
 		background-color: #000000;
 	}

 	25% {
 		background-color: #0560df;
 	}

 	50% {
 		background-color: #022479;
 	}

 	75% {
 		background-color: #5d04bc;
 	}

 	100% {
 		background-color: #04142a;
 	}
 }