.home-group{
	display: flex;
	position: relative;
	align-self: center;
}
.home-group-container{
	padding: 0 14px;
}
.home-refresh{
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer;
	margin: 10px;

}
.home-refresh.users{
	left: 0;
}
.home-group-select-section.selected{
	
	background-color: rgb(45, 45, 45);
	border: 1px solid royalblue;
	border-radius: 4px;
}
.home-group-select-section{
	cursor: pointer;
	transition: .3s ease-in all;
}
.home-group-avatar{
	text-align: center;
	line-height: 48px;
	font-size: 22px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

.home-groups-each{
	padding: 8px 0;
	&:hover{
		background-color: rgb(43, 43, 43);
	}
}
.home-group-detail{
	font-size: 18px;
	padding-top: 14px;
	margin-left: 25px;
}
.home-group-users-in-group{
	position: absolute;
	right: 0;
	top: 20%;
	span{
		margin: 0 10px;
	}
	svg{
		transform: translateY(3px);
	}
}

.home-online-users-wrapper{
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 99;
	

}

.home-group-online-users-tab{
background-color: rgb(40, 40, 40);
	border-radius: 9px;
	max-height: 700px;
	overflow-y: scroll;
}
.h-g-o-u-tab-inner{
	margin: 10px;
	
}
.h-g-o-u-each-inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: .1s ease-in;
	&:hover{
		background-color: black;
		border-radius: 9px;
	}
	div{
		margin: 4px 10px;
		
	}
}


.home-online-user-image{
	img{
		width: 50px;
		height: auto;
		border-radius: 24px;
		aspect-ratio: 1/1;
		border-radius: 50%;
		object-fit: cover;
		overflow: hidden;
	}
}
.home-online-user-remove, .home-online-user-view{
	margin-left: auto;
	button {
			padding: 8px 10px;
			background-color: rgb(225, 65, 65);
			border-radius: 12px;
			border: none;
			color: black;
			transition: 40ms ease-in transform;
	
			&:active {
				transform: scale(.9);
			}
		}
}
.home-online-user-view{
	button{
		background-color: royalblue;
	}
}
.home-search-group{
	
	input{
		margin-left: 5px;
		border-radius: 4px;
		padding: 3px 20px;
		width: calc(100% - 5px);
		border: 1px solid gray;
		outline: none;
		transition: .2s ease-in;
		&:focus {
			padding: 10px;
		}

	}
}
.home-group-search-icon{
	margin-left: 150px;
	margin-top: 30px;
}